.deejay-main-container {
  display: flex;
  flex-direction: column;
}

.list-container {
  display: flex;
  flex-direction: row;
}

.gig-list {
  width: 80%;
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sidebar-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
}

.sidebar-button {

}


