.deejay-profile-create {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.booker-profile-create {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
