.profile-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.booker-profile-container {
  margin: auto;
  width: 50%;
}

.booker-update-button {
  text-align: center;
  margin: auto;
  width: 50%;
}

.booker-profile-detail {
  margin: auto;
  width: 50%;
}

.booker-profile-update {
  margin: auto;
  width: 50%;
}


.deejay-profile-container {
  /* margin: auto; */
  width: 50%
}

/* .deejay-profile-detail {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .deejay-profile-update {
  width: 300px;
}

.deejay-profile-update-phone {
  width: 300px;
} */
